@tailwind base;
@tailwind components;
@tailwind utilities;

.glider-dot {
  background-color: #003ef9 !important;
  width: 1px !important;
  height: 12px !important;
  margin: 3px !important;
}

.glider-dot.active {
  background-color: #003ef9 !important;
  height: 18px !important;
  width: 2px !important;
}
* {
  scroll-behavior: smooth;
}

.glider-dots {
  align-items: center;
  margin: 0 !important;
}