@tailwind base;
@tailwind components;
@tailwind utilities;

.glider-dot {
  background-color: #b3c5fd !important;
}

.glider-dot.active {
  background-color: #003EF9 !important;
}
* {
  scroll-behavior: smooth;
}
